html {
	background: #fff;
	color: #212121;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4;
}

body {
	margin: 0;
}

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #fff url("img/preloader.svg") no-repeat center center;
}

.browserupgrade {
	font-size: 1em;
	background: #333;
	color: #fff;
	padding: 1em;
	margin: 0;
	text-align: center;
}

.browserupgrade a {
	color: #aaa;
}

.browserupgrade a:hover {
	color: #fff;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px;
}

header .header-container {
	padding: 20px 0;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

header .header-container .logo {
	display: block;
	float: left;
}

header .header-container .logo img {
	width: 194px;
	display: block;
}

header .header-container .nav-main {
	float: right;
}

header .header-container .nav-main ul {
	list-style: none;
	padding: 0;
	margin: 6px 0 0;
}

header .header-container .nav-main li {
	float: left;
}

header .header-container .nav-main a {
	text-decoration: none;
	color: #212121;
	font-weight: 600;
	font-size: 1.1rem;
	padding: 5px 10px;
	display: block;
	border: 1px solid transparent;
}

header .header-container .nav-main li:last-of-type {
	margin-right: 0;
	margin-left: 10px;
}

header .header-container .nav-main li:last-of-type a {
	color: #71B406;
	border-radius: 4px;
	border: 1px solid #71B406;
	padding: 5px 25px;
}

header .header-container .nav-main a:hover {
	color: #5e35b1;
}

header .header-container .nav-main li:last-of-type a:hover {
	background: #71B406;
	color: #fff;
}

.hero {
	margin-top: 60px;
}

.hero h2 {
	color: #42257a;
	font-weight: 700;
	font-size: 2.3rem;
}

.hero h4 {
	font-weight: 400;
}

.hero .container > div {
	float: left;
}

.hero .container > div:first-of-type {
	margin-top: 30px;
	width: 55%;
	float: left;
}

.hero .container > div:last-of-type {
	width: 40$;
	float: right;
}

.hero .container > div:last-of-type img {
	position: relative;
	z-index: 1;
	right: 80px;
}

.curve {
	width: 100%;
	position: relative;
	z-index: 2;
	top: -180px;
	margin-bottom: -181px;
}

.curve img {
	width: 100%;
}

.preventions {
	position: relative;
	z-index: 3;
	background: #eee;
	padding: 80px 0 60px;
	text-align: center;
}

.preventions h2 {
	color: #42257a;
	font-weight: 700;
	margin-bottom: 40px;
}

.preventions .card-content {
	padding: 0 20px;
}

.preventions .items .item {
	float: left;
	width: 29.3333333%;
	margin: 0 2%;
}

.preventions .items .item:last-of-type {
}

.preventions .items h3 {
	color: #ff7043;
}

.about {
	background: #5e35b1;
	color: #fff;
	padding: 60px 0;
}

.about .container > div {
	float: left;
}

.about .container > div:first-of-type {
	width: 30%;
}

.about .container > div:last-of-type {
	width: 70%;
}

.about h3 {
	font-weight: 400;
	font-size: 2.2rem;
	margin-top: 30px;
	padding-left: 18px;
}

.about h2 {
	font-weight: 700;
	text-align: center;
}

.about p {
	padding: 0 0 20px;
}

.about p:last-of-type {
	padding-bottom: 0;
}

.about h3 strong {
	font-weight: 700;
	font-size: 4rem;
	margin-bottom: 16px;
	display: block;
}

.our-volunteers {
	margin: 0;
	padding: 64px 0;
}

.our-volunteers h2 {
	margin-bottom: 30px;
	font-weight: 700;
	color: #ff7043;
}

.our-volunteers .description {
	text-align: center;
}

.our-volunteers .button-group {
	margin-bottom: 0;
}

.our-volunteers .button {
	font-size: 1.5rem;
	background: #ff7043;
	border: 1px solid #ff7043;
}

.our-volunteers .button:hover {
	background: transparent;
	color: #ff7043;
}

.our-volunteers .cards {
	margin-top: 25px;
}

.our-volunteers .cards .card {
	margin: 0 10px 0;
	text-align: center;
	width: 220px;
}

.our-volunteers .card-image {
	padding: 40px 0 20px;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.our-volunteers .card-image-developer,
.our-volunteers .card-image-legal,
.our-volunteers .card-image-medical,
.our-volunteers .card-image-designers {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.our-volunteers .card-image-developer svg path {
	fill: #E8CA04;
}

.our-volunteers .card-image-developer p {
	color: #E8CA04;
}

.our-volunteers .card-image-developer:hover {
	background: #E8CA04;
}

.our-volunteers .card-image-legal svg path {
	fill: #EA641D;
}

.our-volunteers .card-image-legal p {
	color: #EA641D;
}

.our-volunteers .card-image-legal:hover {
	background: #EA641D;
}

.our-volunteers .card-image-medical svg path {
	fill: #7F08FF;
}

.our-volunteers .card-image-medical p {
	color: #7F08FF;
}

.our-volunteers .card-image-medical:hover {
	background: #7F08FF;
}

.our-volunteers .card-image-designers svg path {
	fill: #71B406;
}

.our-volunteers .card-image-designers p {
	color: #71B406;
}

.our-volunteers .card-image-designers:hover {
	background: #71B406;
}

.our-volunteers .card-image-developer:hover svg path,
.our-volunteers .card-image-legal:hover svg path,
.our-volunteers .card-image-medical:hover svg path,
.our-volunteers .card-image-designers:hover svg path {
	fill: #fff;
}

.our-volunteers .card-image-developer:hover p,
.our-volunteers .card-image-legal:hover p,
.our-volunteers .card-image-medical:hover p,
.our-volunteers .card-image-designers:hover p {
	color: #fff;
}

.our-volunteers .card-image img {
	padding-top: 20px;
	width: auto;
}

.our-volunteers .card-image p {
	font-weight: 600;
	font-size: 0.85rem;
	padding: 20px 0 10px;
}

.our-volunteers .button-group {
	margin-top: 60px;
}

.members {
	padding: 60px 0 45px;
	background: #eee;
}

.members h2 {
	text-align: center;
	color: #42257a;
	font-weight: 700;
	margin-bottom: 20px;
}

.members h4 {
	padding-bottom: 15px;
	color: #ff7043;
}

.members ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.members .column {
	float: left;
	width: 29.3333333%;
	margin: 0 2% 40px;
	background: #fff;
	text-align: center;
	padding: 20px;
    border-radius: 8px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.sponsors {
	text-align: center;
	padding: 70px 0;
}

.sponsors h3 {
	font-weight: 700;
}

.sponsors ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sponsors ul:first-of-type {
	margin-bottom: 50px;
}

.sponsors ul li {
	display: inline-block;
	margin: 0 25px;
}

.get-involved {
	margin: 0 auto;
	padding: 54px 0 64px;
	background: #ff7043;
	color: #fff;
}

.get-involved .description {
	width: 73%;
	margin: 0 auto;
}

.get-involved .description p {
	text-align: center;
	padding-bottom: 0;
}

.get-involved .button-group {
	margin-top: 40px;
	margin-bottom: 0;
}

.get-involved .button-group .button {
	border: 2px solid transparent;
	background: #ff7043;
	font-size: 1.5rem;
	width: 220px;
}

.get-involved .button-group  .button:first-of-type {
	background: #fff;
	color: #ff7043;
}

.get-involved .button-group  .button:first-of-type:hover {
	border: 2px solid #fff;
	color: #fff;
	background: transparent;
}

.get-involved .button-group  .button:last-of-type {
	border: 2px solid #fff;
	color: #fff;
}

.get-involved .button-group  .button:last-of-type:hover {
	background: #fff;
	color: #ff7043;
}

footer {
	padding: 50px 0;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: #212121;
}

footer a:hover {
	color: #5e35b1;
}

footer p:first-of-type {
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 15px;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0 0 40px;
}

footer p:last-of-type {
	padding-bottom: 10px;
}

.button-group {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	margin-top: 30px;
}

.button-group .button:not(:last-of-type),
.button-group button {
	margin-right: 20px;
	text-align: center;
}

.card-content p:last-of-type {
	padding-bottom: 0;
}

.flex-text-image .card-content {
	flex: 1.5;
}

.flex-text-image .card-image {
	flex: 1;
}

.flex-image-text .card-content {
	flex: 1.5;
}

.flex-image-text .card-image {
	flex: 1;
}

.cards {
	flex-wrap: wrap;
	margin-top: 60px;
	width: 100%;
}

.cards .card {
	margin-bottom: 95px;
	max-width: 50%;
}

.cards .card-content {
	padding: 0 20px;
}

.card-image img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

/* RESPONSIVE STYLES */
@media (max-width: 1240px) {
	.hero .container > div:first-of-type {
		margin-top: 0;
	}
}

@media (max-width: 1022px) {
	.preventions {
		padding: 90px 0 60px;
	}
}

@media (max-width: 1016px) {
	.our-volunteers .cards .card {
		margin-bottom: 20px;
	}

	.our-volunteers .cards .card:last-of-type {
		margin-bottom: 0;
	}
}

@media (max-width: 960px) {
	.hero .container > div:last-of-type img {
		right: 40px;
	}
}

@media (max-width: 922px) {
	.hero {
		margin: 40px 0 60px;
	}

	.curve {
		display: none;
	}

	.preventions {
		padding: 60px 0 40px;
	}
}

@media (max-width: 860px) {
	header .header-container > div {
		text-align: center;
	}

	header .header-container .logo,
	header .header-container .nav-main {
		float: none;
		margin: 0 auto;
	}

	header .header-container .logo {
		margin: 0 auto 13px;
	}

	header .header-container .logo img,
	header .header-container .nav-main ul {
		display: inline-block;
	}

	header .header-container .nav-main li,
	header .header-container .nav-main li:last-of-type {
		margin: 0 5px 0;
	}

	header .header-container .nav-main a {
		border: 1px solid #212121;
		border-radius: 4px;
	}

	header .header-container .nav-main a:hover {
		border-color: #5e35b1;
	}

	.button-group {
		flex-direction: column;
	}

	.button-group .button:not(:last-of-type),
	.button-group .button,
	.button-group button {
		display: block;
		margin: 10px auto;
	}

	.cards .card {
		margin-bottom: 35px;
		max-width: 100%;
	}

	.card-content {
		text-align: center;
	}

	.hero .container > div {
		width: 100% !important;
		float: none !important;
		text-align: center;
	}

	.hero .container > div:first-of-type {
		margin: 0 auto;
	}

	.hero .container > div:last-of-type img {
		margin-top: 60px;
		right: 0;
	}

	.preventions {
		padding: 60px 0 66px;
	}

	.preventions h2 {
		margin-bottom: 20px;
	}

	.preventions .items .item {
		float: none;
		width: 100%;
		margin: 0;
	}

	.preventions .items .item:last-of-type {
		margin-right: 0;
	}

	.preventions .items .item:last-of-type p {
		padding-bottom: 0;
	}

	.about h2 {
		text-align: left;
	}

	.about .container > div:last-of-type {
		width: 65%;
		float: right;
	}

	.our-volunteers .card-image {
		width: 240px;
	}

	.members {
		padding: 60px 0 50px;
	}

	.members .column {
		float: none;
		width: 60%;
		margin: 0 auto 30px;
	}

	footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	footer p:last-of-type {
		padding-bottom: 0;
	}
}

@media (max-width: 740px) {
	.about {
		padding: 70px 0;
	}

	.about h2 {
		text-align: center;
	}

	.about h3 {
		padding: 0;
		margin-bottom: 30px;
	}

	.about .container > div {
		width: 100% !important;
		float: none !important;
		text-align: center;
	}
}

@media (max-width: 640px) {
	header .header-container .nav-main ul {
		width: 100%;
	}

	header .header-container .nav-main li {
		float: none;
		margin: 0 0 10px 0;
	}

	header .header-container .nav-main li:last-of-type {
		margin: 0;
	}
}

@media (max-width: 560px) {
	.members .column {
		width: 90%;
	}

	.sponsors h3 {
		padding-bottom: 20px;
	}

	.sponsors ul li {
		display: block;
		margin: 0 0 30px;
	}
}

@media (max-width: 400px) {
	.our-volunteers .button,
	.get-involved .button-group .button {
		font-size: 1.3rem;
	}

	.get-involved .button-group .button {
		width: 100%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.get-involved .button-group .button:last-of-type {
		margin-bottom: 0;
	}
}
