html {
	background: #fff;
	color: #000;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.4;
}

body {
	margin: 0;
}

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #fff url("img/preloader.svg") no-repeat center center;
}

.browserupgrade {
	font-size: 1em;
	background: #333;
	color: #fff;
	padding: 1em;
	margin: 0;
	text-align: center;
}

.browserupgrade a {
	color: #aaa;
}

.browserupgrade a:hover {
	color: #fff;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

/* HEADER STYLES */
header .header-container {
	padding: 20px 0;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

header .header-container .logo {
	display: block;
	float: left;
}

header .header-container .logo img {
	width: 194px;
	display: block;
}

header .header-container .nav-main {
	float: right;
}

header .header-container .nav-main ul {
	list-style: none;
	padding: 0;
	margin: 6px 0 0;
}

header .header-container .nav-main li {
	float: left;
}

header .header-container .nav-main a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
	font-size: 1.1rem;
	padding: 5px 10px;
	display: block;
	border: 1px solid transparent;
}

header .header-container .nav-main li:last-of-type {
	margin-right: 0;
	margin-left: 10px;
}

header .header-container .nav-main li:last-of-type a {
	color: #71B406;
	border-radius: 4px;
	border: 1px solid #71B406;
	padding: 5px 25px;
}

header .header-container .nav-main a:hover {
	color: #00BCD4;
}

header .header-container .nav-main li:last-of-type a:hover {
	background: #71B406;
	color: #fff;
}

/* SECTION STYLES */
section {
	margin: 64px auto;
}

.about .card-content p {
	font-size: 1.25rem;
	padding-right: 40px;
}

.about .card-image {
	max-width: 367px;
}

.solutions .card-image {
	max-width: 160px;
	width: 160px;
}

.solutions .card-image img {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.solutions .card-content h3 {
	color: #00bcd4;
}

.button-group {
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	margin-top: 30px;
}

.button-group .button:not(:last-of-type),
.button-group button {
	margin-right: 20px;
	text-align: center;
}

.card-content p:last-of-type {
	padding-bottom: 0;
}

.flex-text-image .card-content {
	flex: 1.5;
}

.flex-text-image .card-image {
	flex: 1;
}

.flex-image-text .card-content {
	flex: 1.5;
}

.flex-image-text .card-image {
	flex: 1;
}

.cards {
	flex-wrap: wrap;
	margin-top: 60px;
	width: 100%;
}

.cards .card {
	margin-bottom: 95px;
	max-width: 50%;
}

.cards .card-content {
	padding: 0 20px;
}

.card-image img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

/* RESPONSIVE STYLES */
@media (max-width: 860px) {
	header .header-container > div {
		text-align: center;
	}

	header .header-container .logo,
	header .header-container .nav-main {
		float: none;
		margin: 0 auto;
	}

	header .header-container .logo {
		margin: 0 auto 13px;
	}

	header .header-container .logo img,
	header .header-container .nav-main ul {
		display: inline-block;
	}

	header .header-container .nav-main li,
	header .header-container .nav-main li:last-of-type {
		margin: 0 5px 0;
	}

	header .header-container .nav-main a {
		border: 1px solid #000;
		border-radius: 4px;
	}

	header .header-container .nav-main a:hover {
		border-color: #00BCD4;
	}

	.button-group {
		flex-direction: column;
	}

	.button-group .button:not(:last-of-type),
	.button-group .button,
	.button-group button {
		display: block;
		margin: 10px auto;
	}

	.solutions .card-image {
		margin-bottom: 20px;
	}

	.card-content {
		text-align: center;
	}

	.about .card-content p {
		padding-right: 0;
	}

	.cards .card {
		margin-bottom: 35px;
		max-width: 100%;
	}

}

@media (max-width: 640px) {
	header .header-container .nav-main ul {
		width: 100%;
	}

	header .header-container .nav-main li {
		float: none;
		margin: 0 0 10px 0;
	}

	header .header-container .nav-main li:last-of-type {
		margin: 0;
	}
}
